/* ====================================
|----FONT FAMILY FOR THE WEB PAGE-----|
====================================== */

@font-face {
font-family:"Graphik" ;
src: url(./font-family/GraphikMedium.otf);
font-weight: 500;
}


@font-face {
font-family:"Graphik" ;
src: url(./font-family/GraphikRegular.otf);
font-weight:400;
}


@font-face {
font-family:"Graphik" ;
src: url(./font-family/GraphikSemibold.otf);
font-weight:600;
}

/* ====================================================
|-------------LITTLE RESET/GENERIC STYLING-------------|
====================================================== */

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Graphik", sans-serif;
}

a{
text-decoration: none;
}

html,body{
height: 100%;
}

.container{
max-width: 1440px;
width: 88%;
margin: 12px auto;
padding: 0 24px;
/* background-color: burlywood; */
}
/* 
img{
max-width: 100%;
} */



.active {
padding-bottom: 20px;
border-bottom: 3px solid #e7332b;
}




/* ====================================
|-------------NAVIGATION--------------|
====================================== */
.navBar{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index:99 ;
background-color: #fff;
}

.navBar .container{
display: flex;
justify-content: space-between;
align-items: center;
height: 40px;
color: rgb(0, 0, 0);
margin-bottom: 1.5rem;
}

.navLinksBtn{
display: flex;
align-items: center;
font-weight: 400;
/* background-color: coral; */
}

.navLinks > a{
margin-right: 3rem;
color:#161617;
}

.btn{
display: inline-flex;
justify-content: center;
align-items: center;
background-color: #e7332b;
border-radius: 0 0 8px 0;
color: #fff;
line-height: 19px;
margin-right: 15px;
padding: 11px 35px;
border: none;
cursor: pointer;
font-size: 16px;
}

.btn:hover{
box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}


/* ====================================
|----------------HEADER---------------|
====================================== */

.home{
margin-top: 10rem;
}
.home img{
max-width: 400px;
}

.home .container{
display: flex;
justify-content: space-between;
align-items: center;
}

.textForHome p:nth-child(1){
font-size: 40px;
color: #161617;
font-style: normal;
font-weight: 800;
line-height: 49px;
}

.spanColor{
color:#E7332B  
}

.textForHome p:nth-child(2){
white-space: pre-line;
color:#787878;
font-size: 19px;
padding-top: 15px;
margin-bottom: 30px;
}

.textForHome .btn:nth-of-type(2){
background-color: #585858;
}




/* ====================================
|----------------SECTION1-------------|
====================================== */

.section1{
margin-top: 100px;
background-image: url(./img/bgsection2.063bd869082548bafa74.png);
background-size: cover;
background-repeat: no-repeat;
} 

.section1 .container{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 90px;
padding-bottom: 142px;

}


.textForSection1 p:nth-of-type(1){
color: #161617;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 49px;
letter-spacing: .5px;
white-space: pre-line;
}

.textForSection1 p:nth-of-type(2){
color: #161617;
padding-top: 10px;
font-size: 19px;
line-height: 22px;
font-weight: 400;
}

.textForSection1 p:nth-of-type(3){
padding-top: 10px;
color: #787878;
font-size: 19px;
font-weight: 400;
line-height: 22px!;
}

.section1HeadImages img{
max-width: 400px;
}

.sectionCountriesImpacted{
display: flex;
padding-top: 19px;
}

.country img{
max-width: 100%;
}

.country{
background-color: #fff;
border-radius: 8px;
display: flex;
margin-right: 16px;
padding: 7px;
width: 55px;
}


/* ====================================
|----------------SECTION2-------------|
====================================== */


.section2 .container{
padding-bottom: 100px;
padding-top: 4rem;
}
.section2 .container > p{
color: #161617;
font-size: 40px;
font-weight: 800;
line-height: 49px;
white-space: pre-line;
padding-bottom: 35px;  
}


.notBtn{
display: flex;
flex-wrap: wrap;
width: 100%;
gap: 16px;

}

.notBtn p{
background: #fff;
border-radius: 8px;
box-shadow: 0 8px 30px hsla(0,0%,48%,.16);
color: #787878;
font-size: 18px;
font-weight: 400;
line-height: 33px;
padding:8px 14px;
transition: transform .3s ease; 
text-align: center;
/* vertical-align: middle; */
}


.notBtn p:hover{
transform: translateY(-15px);
}


.skillSet + p{
margin-top: 35px;
}

/* ====================================
|----------------SECTION3-------------|
====================================== */

.section3{
background-color: rgb(255, 248, 229);
padding-bottom:5rem;
}

.section3 .container > p{
padding-top: 100px;
color: #161617;
font-size: 40px;
font-weight: 800;
line-height: 49px;
text-align: center;
}


.section3Box{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 30px 15px;
padding-top: 5rem;
}

.boxContainer{
flex-basis: 30%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #fff;
border-radius: 0 0 16px 0;
color: #787878;
padding: 45px 10px;
}

.boxContainer:hover{
background-color: #161617;
border-radius: 0 0 16px 0;
box-shadow: 0 8px 30px rgba(176, 176, 176, 0.07);
color: #fff;
}

.boxContainer p{
white-space:pre-line;
text-align: center;
font-size: 17px;
font-weight: 400;
line-height: 22px;
}


.buttonBox{
margin-top:5.2rem;
text-align: center;
}

.buttonBox :nth-child(2){
background-color: #585858;
}

/* ====================================
|----------------FOOTER-------------|
====================================== */
footer{
background-color: rgb(22, 22, 23);
padding-top: 80px;
position: sticky;
top: 100vh;
}
.footerContainer{
width: 92%;
margin: auto;
}
.footerSocialIcon img{
width: 41px;
padding-right: 1rem;
}

.footerSocialIcon :last-child img{
padding-right: 0;
} 

.footerLogoWithSocialIcons{
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-text,
.footer-text a{
color: #fff;
font-size: 16px;
font-weight: 400;
line-height: 140%;
}

.copyright{
margin-top: 20px;
padding-top: 20px;
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 20px;
}




